<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-list>
          <ion-item lines="none" *ngFor="let item of items">
            <ion-img [src]="item.src"></ion-img>
          </ion-item>
        </ion-list>
        
        <div text-center>
          <ion-button fill="solid" expand="block" color="dark" href="/login">FAZER LOGIN</ion-button>
        </div>
        <div text-center>
          <ion-button fill="solid" expand="block" color="dark" href="/cadastro">CADASTRE-SE</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
