<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Alunos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngFor="let a of alunos">
    <ion-item lines="none">
      <ion-label>
        {{a.title}}
      </ion-label>
      <ion-button (click)="onEnterNota()" fill="none">Adicionar Nota</ion-button>
    </ion-item>
  
  </ion-list>
</ion-content>
